@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/jejugothic.css");
@font-face {
  font-family: "Arita-dotum-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: u+ac00-u+d7af; }
* {
  font-family: "Montserrat", "Arita-dotum-Medium", sans-serif; }

p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

@keyframes rightVisualText {
  0% {
    margin-right: -120px; }
  30% {
    margin-right: -120px; }
  100% {
    margin-right: 0; } }
@keyframes leftVisualText {
  0% {
    margin-left: -200px; }
  30% {
    margin-left: -200px; }
  100% {
    margin-left: 0; } }
.section {
  width: 100%;
  height: 100%;
  padding-left: 12.5%;
  transition: 1s;
  box-sizing: border-box;
  overflow: hidden; }
  .section__header {
    width: 100vh;
    height: 12.5vw;
    position: absolute;
    left: 25%;
    top: 0%;
    z-index: -3;
    background: #192c60;
    font-size: 6rem;
    text-align: center;
    transform-origin: left top;
    transform: rotate(90deg);
    box-sizing: border-box; }
    .section__header h2 {
      color: #233976;
      letter-spacing: 2rem;
      margin: 0;
      height: 100%;
      transition: 0.5s; }
      .section__header h2.topMove {
        transform: translateX(-100%); }
  .section__content {
    margin-left: 12.5%;
    width: 75%;
    height: 100%;
    background: #192c60;
    top: 0%;
    position: absolute;
    z-index: -3;
    transition: 1s; }
    .section__content h3 {
      margin: 5% 0 0 12.5%;
      padding: 0;
      font-size: 5rem;
      color: white; }
      .section__content h3::after {
        content: '';
        display: block;
        width: 0%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 1s;
        transition-delay: 0.5s; }
    .section__content span {
      transform: translateY(30px);
      margin-left: 12.5%;
      font-size: 1.8rem;
      font-weight: bold;
      color: white;
      display: block;
      opacity: 0;
      transition: 1s;
      transition-delay: 0.8s; }
    .section__content--box {
      margin: 70px 0 0 12.5%;
      transform: translateY(30px);
      opacity: 0;
      transition: 1s;
      transition-delay: 1.1s; }
      .section__content--box-text {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px; }
        .section__content--box-text dl {
          color: white; }
          .section__content--box-text dl dt {
            font-size: 1.5rem; }
          .section__content--box-text dl dd {
            margin-top: 15px;
            font-size: 0.9rem; }
          .section__content--box-text dl:first-of-type {
            margin-right: 50px; }
      .section__content--box-skill {
        margin-top: 20px; }
        .section__content--box-skill strong {
          font-size: 2rem;
          color: white;
          display: block; }
        .section__content--box-skill figure {
          margin: 0;
          width: 30%;
          display: inline-block;
          margin: 25px 20px 0 0; }
          .section__content--box-skill figure img {
            display: block;
            margin: 0 auto;
            max-height: 80px; }
          .section__content--box-skill figure figcaption {
            margin-top: 10px;
            color: white;
            text-align: center; }
    .section__content.topMove {
      top: -100%; }
  .section__content.active h3::after {
    width: 60%; }
  .section__content.active span {
    opacity: 1;
    transform: translateY(0); }
  .section__content.active .section__content--box {
    opacity: 1;
    transform: translateY(0); }
  .section__contact {
    margin-left: 12.5%;
    width: 75%;
    height: 100%;
    background: #192c60;
    top: 100%;
    position: absolute;
    z-index: -3;
    transition: 1s; }
    .section__contact.topMove {
      top: 0%; }
      .section__contact.topMove.commentmenu {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; }
        .section__contact.topMove.commentmenu::-webkit-scrollbar {
          display: none; }
    .section__contact h3 {
      width: 1px;
      height: 1px;
      overflow: hidden;
      margin: 0;
      padding: 0; }
    .section__contact--refresh {
      width: 100%;
      height: 80px;
      line-height: 80px;
      background: #234296; }
    .section__contact--tabMenu {
      width: 100%;
      height: 80px;
      border-top: 1px solid #595e8fef;
      border-bottom: 1px solid #595e8fef;
      box-sizing: border-box;
      font-size: 0;
      background: #234296; }
      .section__contact--tabMenu button {
        border: none;
        background: none;
        outline-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 265px;
        height: 80px;
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        color: white;
        background: #233a79;
        border: 1px solid #595e8fef;
        box-sizing: border-box;
        transform: translateY(-1px); }
        .section__contact--tabMenu button.active {
          background: #192c60;
          border: none;
          border-bottom: 1px solid #192c60; }
        .section__contact--tabMenu button strong {
          display: block; }
    .section__contact--form {
      margin: 30px auto;
      width: 50%;
      transform: translateY(0);
      transition: opacity 0.7s;
      opacity: 1;
      position: relative;
      z-index: -3; }
      .section__contact--form h4 {
        font-size: 2rem;
        color: white;
        text-align: center; }
      .section__contact--form label {
        display: block;
        margin: 10px 0 5px 0;
        color: white; }
      .section__contact--form input {
        display: block;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        outline-style: none;
        background: none;
        border: 0;
        border-bottom: 2px solid #ffb800;
        color: white; }
        .section__contact--form input:last-of-type {
          border: 2px solid #ffb800;
          cursor: pointer; }
      .section__contact--form textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        outline-style: none;
        padding: 5px;
        background: none;
        border: 2px solid #ffb800;
        color: white; }
      .section__contact--form.off {
        opacity: 0;
        z-index: 0; }
    .section__contact--comment {
      position: absolute;
      left: 50%;
      top: 225px;
      width: 75%;
      text-align: center;
      transform: translate(-50%);
      transition: opacity .5s, transform 1s;
      opacity: 0; }
      .section__contact--comment h4 {
        color: white;
        font-weight: 500; }
        .section__contact--comment h4 span {
          display: block;
          color: #ffb800;
          font-size: 0.8rem; }
      .section__contact--comment .refreshBtn {
        border: none;
        background: none;
        outline-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 30px; }
        .section__contact--comment .refreshBtn img {
          width: 32px;
          height: 32px;
          filter: opacity(100%); }
        .section__contact--comment .refreshBtn.on {
          opacity: 1; }
      .section__contact--comment form {
        width: 100%;
        margin: 0 auto;
        display: flex; }
        .section__contact--comment form .inputBox {
          width: 25%;
          display: inline-block;
          overflow: hidden;
          margin-right: 5px; }
          .section__contact--comment form .inputBox input {
            width: 100%;
            height: 25px;
            box-sizing: border-box; }
        .section__contact--comment form textarea {
          width: 55%;
          height: 50px;
          box-sizing: border-box;
          margin-right: 5px; }
        .section__contact--comment form > input {
          width: 10%;
          height: 50px;
          box-sizing: border-box;
          cursor: pointer; }
      .section__contact--comment.on {
        transform: translate(-50%);
        opacity: 1; }
      .section__contact--comment--count {
        margin: 20px 0 20px 0;
        text-align: left;
        color: white; }
  .section .commentBox {
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: left; }
    .section .commentBox__inner {
      border-bottom: 1px solid #233976d5;
      box-sizing: border-box; }
      .section .commentBox__inner--contentBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0; }
        .section .commentBox__inner--contentBox-content {
          display: flex;
          align-items: center;
          width: 85%; }
          .section .commentBox__inner--contentBox-content i {
            margin-right: 5px; }
          .section .commentBox__inner--contentBox-content p {
            margin-left: 10px; }
            .section .commentBox__inner--contentBox-content p:first-of-type {
              width: 10%; }
            .section .commentBox__inner--contentBox-content p:last-of-type {
              font-size: .8rem;
              margin-left: 10px;
              width: 80%; }
        .section .commentBox__inner--contentBox.re {
          padding: 0 0 10px 10px;
          border-bottom: 1px solid #233976d5;
          box-sizing: border-box; }
        .section .commentBox__inner--contentBox-crud {
          font-size: .8rem; }
          .section .commentBox__inner--contentBox-crud button {
            border: none;
            background: none;
            outline-style: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            color: #ffb800;
            margin-left: 5px; }
            .section .commentBox__inner--contentBox-crud button:last-of-type {
              color: #af0f0f; }
          .section .commentBox__inner--contentBox-crud span {
            margin-left: 3px; }
      .section .commentBox__inner--replies form {
        justify-content: center;
        padding-bottom: 5px; }
        .section .commentBox__inner--replies form textarea {
          margin-right: 5px;
          width: 55%; }
      .section .commentBox__inner--replies-inputBox {
        width: 25%;
        height: 50px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .section .commentBox__inner--replies-inputBox input {
          width: 100%;
          height: 25px;
          box-sizing: border-box; }

/*# sourceMappingURL=aboutContact.css.map */
