$lineColor: #fff;

$darkBlueColor: #141F3E;
$moonDrakBlueColor: #1D2B6B;
$spaceBlueColor: #13275A;
$deepRedColor: #8F2E2E;
$blueOrigin: #59C2E1;
$cometBlue: #39B0E6;
$topActiveColor: #ec0101;
$changeTransition: .3s;
$menuNaviText: 3.5rem;

$menuNaviTransitionDelay: (.9, 0.75, 0.5, 0.35, 0.2);

