@import "../css/common";
@import "../css/animation";
@import "../css/mixin";

.section {
  width: 87.5%;
  height: 100%;
  margin: 0 0 0 12.5%;
  box-sizing: border-box;
  position: absolute;
  left: 0; top: 0;
  z-index: -3;
  &__portfolio {
    width: 100%;
    height: 100%;
    overflow: hidden;
    h2 {
      width: 1px;
      height: 1px;
      margin: 0;
      overflow: hidden;
    }
    .close_btn{
      @include buttonReset();
      position: fixed;
      right: 0;
      margin: 20px 20px 0 0;
      display: none;
      img{
        width: 32px; height: 32px;
      }
      &.on{
        display: inline-block;
      }
    }
    &--list {
      width: 100%;
      position: absolute;
      display: flex;
      text-align: center;

      &.active{
        li{
          width: 1px;
          overflow: hidden;
          opacity: 0;
          transition: opacity .5s, width 1s;
          &.on{
            width: 100%;
            background: #1e1f21;
            cursor: default;
            opacity: 1;
          }
        }
        figure{
          transition-delay: 1.1s;
            width: 45%;
        }
      }
      li {
        width: 33.333%;
        height: 100vh;
        color: white;
        box-sizing: border-box;
        border-right: 1px solid $moonDrakBlueColor;
        transition: 1s;
        opacity: 1;
        cursor: pointer;
        
        figure {
          width: 100%;
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: width 1s;
          &:hover {
            background-color: #1e1f21;
          }
          
          .title {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            padding-bottom: 50px;
            text-align: left;

            strike {
              opacity: 0.7;
            }
          }

          img {
            width: 350px;
          }
          figcaption {
            color: white;
            font-size: 0.7rem;
            text-align: left;
            margin-top: 7px;

            p {
              margin-top: 3px;
              &.stopProject {
                color: $topActiveColor;
              }
            }
          }
        }
      }
    }
  }
}
