.section{
    padding-left: 12.5%;

    &__portfolio{

        & h2{
            width: 1px; height: 1px;
            margin: 0;
            overflow: hidden;
        }

        &--list{
            width: 100%;
            position: absolute;
            display: flex;
            & li{
                width: 30%;
            }
        }
        
    }
}